@font-face {
	font-family: 'itsallwong';
	src:url('../fonts/itsallwong.eot?mgy6go');
	src:url('../fonts/itsallwong.eot?#iefixmgy6go') format('embedded-opentype'),
		url('../fonts/itsallwong.ttf?mgy6go') format('truetype'),
		url('../fonts/itsallwong.woff?mgy6go') format('woff'),
		url('../fonts/itsallwong.svg?mgy6go#itsallwong') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'itsallwong';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uparrshort:before {
	content: "\e664";
}
.icon-downarrshort:before {
	content: "\e667";
}
.icon-larrshort:before {
	content: "\e669";
}
.icon-rarrshort:before {
	content: "\e66b";
}
.icon-upleftarrshort:before {
	content: "\e66d";
}
.icon-uprightarrshort:before {
	content: "\e66f";
}
.icon-downrightarrshort:before {
	content: "\e671";
}
.icon-downleftarrshort:before {
	content: "\e673";
}
.icon-uparrlong:before {
	content: "\e665";
}
.icon-downarrlong:before {
	content: "\e666";
}
.icon-larrlong:before {
	content: "\e668";
}
.icon-rarrlong:before {
	content: "\e66a";
}
.icon-upleftarrlong:before {
	content: "\e66c";
}
.icon-uprightarrlong:before {
	content: "\e66e";
}
.icon-downrightarrlong:before {
	content: "\e670";
}
.icon-downleftarrlong:before {
	content: "\e672";
}
.icon-mobile:before {
	content: "\e600";
}
.icon-laptop:before {
	content: "\e601";
}
.icon-desktop:before {
	content: "\e602";
}
.icon-tablet:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e604";
}
.icon-document:before {
	content: "\e605";
}
.icon-documents:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-clipboard:before {
	content: "\e608";
}
.icon-newspaper:before {
	content: "\e609";
}
.icon-notebook:before {
	content: "\e60a";
}
.icon-book-open:before {
	content: "\e60b";
}
.icon-browser:before {
	content: "\e60c";
}
.icon-calendar:before {
	content: "\e60d";
}
.icon-presentation:before {
	content: "\e60e";
}
.icon-picture:before {
	content: "\e60f";
}
.icon-pictures:before {
	content: "\e610";
}
.icon-video:before {
	content: "\e611";
}
.icon-camera:before {
	content: "\e612";
}
.icon-printer:before {
	content: "\e613";
}
.icon-toolbox:before {
	content: "\e614";
}
.icon-briefcase:before {
	content: "\e615";
}
.icon-wallet:before {
	content: "\e616";
}
.icon-gift:before {
	content: "\e617";
}
.icon-bargraph:before {
	content: "\e618";
}
.icon-grid:before {
	content: "\e619";
}
.icon-expand:before {
	content: "\e61a";
}
.icon-focus:before {
	content: "\e61b";
}
.icon-edit:before {
	content: "\e61c";
}
.icon-adjustments:before {
	content: "\e61d";
}
.icon-ribbon:before {
	content: "\e61e";
}
.icon-hourglass:before {
	content: "\e61f";
}
.icon-lock:before {
	content: "\e620";
}
.icon-megaphone:before {
	content: "\e621";
}
.icon-shield:before {
	content: "\e622";
}
.icon-trophy:before {
	content: "\e623";
}
.icon-flag:before {
	content: "\e624";
}
.icon-map:before {
	content: "\e625";
}
.icon-puzzle:before {
	content: "\e626";
}
.icon-basket:before {
	content: "\e627";
}
.icon-envelope:before {
	content: "\e628";
}
.icon-streetsign:before {
	content: "\e629";
}
.icon-telescope:before {
	content: "\e62a";
}
.icon-gears:before {
	content: "\e62b";
}
.icon-key:before {
	content: "\e62c";
}
.icon-paperclip:before {
	content: "\e62d";
}
.icon-attachment:before {
	content: "\e62e";
}
.icon-pricetags:before {
	content: "\e62f";
}
.icon-lightbulb:before {
	content: "\e630";
}
.icon-layers:before {
	content: "\e631";
}
.icon-pencil:before {
	content: "\e632";
}
.icon-tools:before {
	content: "\e633";
}
.icon-tools-2:before {
	content: "\e634";
}
.icon-scissors:before {
	content: "\e635";
}
.icon-paintbrush:before {
	content: "\e636";
}
.icon-magnifying-glass:before {
	content: "\e637";
}
.icon-circle-compass:before {
	content: "\e638";
}
.icon-linegraph:before {
	content: "\e639";
}
.icon-mic:before {
	content: "\e63a";
}
.icon-strategy:before {
	content: "\e63b";
}
.icon-beaker:before {
	content: "\e63c";
}
.icon-caution:before {
	content: "\e63d";
}
.icon-recycle:before {
	content: "\e63e";
}
.icon-anchor:before {
	content: "\e63f";
}
.icon-profile-male:before {
	content: "\e640";
}
.icon-profile-female:before {
	content: "\e641";
}
.icon-bike:before {
	content: "\e642";
}
.icon-wine:before {
	content: "\e643";
}
.icon-hotairballoon:before {
	content: "\e644";
}
.icon-globe:before {
	content: "\e645";
}
.icon-genius:before {
	content: "\e646";
}
.icon-map-pin:before {
	content: "\e647";
}
.icon-dial:before {
	content: "\e648";
}
.icon-chat:before {
	content: "\e649";
}
.icon-heart:before {
	content: "\e64a";
}
.icon-cloud:before {
	content: "\e64b";
}
.icon-upload:before {
	content: "\e64c";
}
.icon-download:before {
	content: "\e64d";
}
.icon-target:before {
	content: "\e64e";
}
.icon-hazardous:before {
	content: "\e64f";
}
.icon-piechart:before {
	content: "\e650";
}
.icon-speedometer:before {
	content: "\e651";
}
.icon-global:before {
	content: "\e652";
}
.icon-compass:before {
	content: "\e653";
}
.icon-lifesaver:before {
	content: "\e654";
}
.icon-clock:before {
	content: "\e655";
}
.icon-aperture:before {
	content: "\e656";
}
.icon-quote:before {
	content: "\e657";
}
.icon-scope:before {
	content: "\e658";
}
.icon-alarmclock:before {
	content: "\e659";
}
.icon-refresh:before {
	content: "\e65a";
}
.icon-happy:before {
	content: "\e65b";
}
.icon-sad:before {
	content: "\e65c";
}
.icon-facebook:before {
	content: "\e65d";
}
.icon-twitter:before {
	content: "\e65e";
}
.icon-googleplus:before {
	content: "\e65f";
}
.icon-rss:before {
	content: "\e660";
}
.icon-tumblr:before {
	content: "\e661";
}
.icon-linkedin:before {
	content: "\e662";
}
.icon-dribbble:before {
	content: "\e663";
}
