/*
FOR SPEED REASONS:

if you change anything, copy and paste everything into the header.php file.

*/

.module
{
    opacity: 0;
}
.module.come-in
{
    -webkit-transform: translate3D(0, 100vh, 0);
            transform: translate3D(0, 100vh, 0);
    -webkit-animation: come-in 1.4s forwards;
            animation: come-in 1.4s forwards;
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    /*opacity: 0;*/
}
.module.already-visible:nth-child(even),
.module.come-in:nth-of-type(even),
.come-in-top:nth-of-type(even)
{
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
/*.module.come-in:nth-child(3n),
.module.already-visible:nth-child(3n) {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}*/
.module.already-visible
{
    /*  -webkit-transform: translateY(0) translateX(0)!important;
  transform: translateY(0) translateX(0)!important;
  -webkit-animation: none!important;
  animation: none!important;
  opacity:1;*/
    -webkit-transform: translate3D(0, 100vh, 0);
            transform: translate3D(0, 100vh, 0);
    -webkit-animation: come-in 1s forwards;
            animation: come-in 1s forwards;
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-animation-delay: 1.3s;
       -moz-animation-delay: 1.3s;
         -o-animation-delay: 1.3s;
            animation-delay: 1.3s;
}
.come-in-top
{
    -webkit-transform: translate3D(0, -400px, 0);
            transform: translate3D(0, -400px, 0);
    -webkit-animation: come-in .7s forwards;
            animation: come-in .7s forwards;
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-animation-delay: .5s;
       -moz-animation-delay: .5s;
         -o-animation-delay: .5s;
            animation-delay: .5s;*/

    opacity: 0;
}
header.come-in-top
{
    -webkit-transform: translate3D(0, -100%, 0);
            transform: translate3D(0, -100%, 0);
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-animation-delay: .8s;
       -moz-animation-delay: .8s;
         -o-animation-delay: .8s;
            animation-delay: .8s;
    position:fixed;
}
@-webkit-keyframes come-in
{
    from
    {
        opacity: 0;
    }
    25%
    {
        opacity: 1;
    }
    to
    {
        /*position: static;*/

        -webkit-transform: translate3D(0, 0, 0);
    }
}
@keyframes come-in
{
    from
    {
        opacity: 0;
    }
    25%
    {
        opacity: 1;
    }
    to
    {
        /*position: static;*/

        transform: translate3D(0, 0, 0);

        opacity: 1;
    }
}
@-webkit-keyframes come-in-side
{
    from
    {
        opacity: 0;
    }
    to
    {
        -webkit-transform: translateX(0);
    }
}

@keyframes come-in-side
{
    from
    {
        opacity: 0;
    }
    to
    {
        transform: translateX(0);
    }
}
@media screen and (max-width:40.25em)
{
    /*  .come-in {
    transform: translateX(-100%) translateY(150px);
    -webkit-transform: translateX(-100%) translateY(150px);
    animation: come-in-side 0.8s ease forwards;
    -webkit-animation: come-in-side 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
  }*/
}
