.js .nav-collapse {
    position: absolute;
    display: block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    zoom: 1;
    max-height: 0
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -o-user-select: none
}
/*
@media screen and (min-width:85em) {
    body {
        padding-top: 97px
    }
} */

@media screen and (min-width:40em) {
    .js .nav-collapse {
        position: relative
    }

    .js .nav-collapse.closed {
        max-height: none
    }

    .nav-toggle {
        display: none
    }
}

body.error {
    margin-top: 0;
    background: url(/assets/images/yellow-brick-road.gif) center center;
    background-size: cover
}

@media screen and (max-width:55em) {
    body {
        padding: 62px 0 0
    }

    body::after, body::before, nav.nav-collapse li.logo {
        display: none
    }

    main::after, main::before {
        height:10px;
    }

    header.come-in-top {
        -webkit-transform: translate3D(0, 0, 0) !important;
        -ms-transform: translate3D(0, 0, 0) !important;
        transform: translate3D(0, 0, 0) !important;
        -webkit-animation: none;
        animation: none;
        opacity: 1
    }

    header {
        /* font-size: .973em; */
        width: 100vw;
        box-sizing:border-box;
        margin: 0;
        padding: 10px 10px 0;
    }

    a.bigLink {
        /* font-size: 1em; */
        margin-left: 0
    }

    a.bigLink::before {
        display: block;
        float: none;
        margin: auto;
        text-align: center
    }

    html {
        margin: 0
    }

    section.hero {
        padding: 1.728rem 1.728rem .5rem
    }

    .imgIcon {
        margin: 2em 1em 2em 0
    }

    .project .more, body {
        /* font-size: 1rem */
    }

    .project .more span {
        width: 80%
    }

    .work-item {
        padding-bottom: 50%
    }

    .backtrack .back a, .project.item-1 {
        margin-top: 0
    }

    section.header {
        float: left;
        width: 100%;
        padding: 2rem 0
    }

    section.gallery {
        width: 100%
    }

    .grid-item, .grid-sizer {
        width: 100%;
        margin: 0
    }

    .gallery.slider img {
        height: 50vh;
        width: auto;
        max-width: none;
        margin: 0 .25em
    }

    section.gallery div.caption {
        /* font-size: .694em */
    }

    .gallery .project {
        padding:5px 0;
    }

    .rightfloat .gallery, section.gallery.one1 .project:nth-of-type(even),
    section.gallery.one1 .project:nth-of-type(odd) {
        padding-right: 20px;
        padding-left: 20px
    }

    nav li, section.content {
        padding: 0
    }

    .project-container {
        width: 100%;
        margin: 0;
        padding: 0
    }

    nav li {
        width: auto;
    }

    nav li::after {
        visibility: hidden
    }

    .meta, .text, section.project-content .meta, section.project-content .text {
        padding: 3em 20px
    }

    section.project-content {
        max-width: none;
        float: none;
        margin: auto
    }

    section#projects {
        max-width: none;
        margin: 0 auto;
        padding-left: 0 !important
    }

    .rightfloat section.project-content {
        float: none;
        width: 90%;
        margin: auto
    }

    section.project-content .meta, section.project-content article {
        width: 100%
    }

    section#about-me h1 {
        margin: 0 0 1em
    }

    section#about-me .side-align {
        margin: .833rem 0;
        padding: 0 .833rem;
        color: #707071
    }

    .project .tail, .project figure::after, .project:hover .tail {
        display: none;
        z-index: -100
    }

    .home section#projects h2 {
        margin: .833rem 0 0;
        padding: 0 .833rem
    }

    section.project-content, section.project-content.one1 {
        margin-left: 20px;
        width: 90%
    }
/*
    .newer, .older {
        position: relative;
        z-index: 0;
        right: 0;
        left: 0;
        width: 100%;
        max-height: none;
        margin: 0;
        padding: 10px 0
    }

    .newer a, .older a {
        padding: 5% 0 7%
    }

    .newer a::after, .older a::after {
        -webkit-transition: width .2s;
        transition: width .2s
    }

    .newer img, .older img {
        max-height: 3em
    }

    .backtrack {
        float: none;
        width: 100%;
        margin: auto;
        padding: 0 .833rem .833rem
    } */

    .main-info {
        float: left;
        margin: auto;
        padding: 0 10px
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        border-top: 2px solid #fff
    }

    footer [class^=sector] {
        width: 100% !important;
        height: auto;
        border-top: none;
        text-align: center;
        margin:0;
    }

    footer [class^=sector]::before, nav li::after {
        display: none;
        content: ''
    }

    a.icon-hotairballoon.scrolltotop, a.icon-hotairballoon.scrolltotop.activated {
        -webkit-animation: none;
        animation: none
    }

    .scope {
        width: 100%;
        padding: 0;
        /* font-size: .833em */
    }

    .scope h4 {
        width: 25%
    }

    .hideonsmall {
        display: none !important
    }

    /* .extras .grid-item, .extras .grid-sizer,
    .art .projects .grid-item, .art .projects .grid-sizer {
        width: calc(50% - 8px)
    } */
}

@media screen and (max-width:40em) {
    body {
        padding-top: 56px
    }

    header {
        overflow: scroll;
        max-height: 100vh;
        padding:0 0;
        min-height: 50px;
    }

    .sub-block {
        width:50%;
        left:2.5vw;
        top:3vw;
    }
    .art .projects .grid-item img {
        max-width:95vw;
    }
    main {
        padding: 0;
        width:95vw;
    }

    /* nav {
        padding:0 0;
        margin: 0;
        z-index: 100;
    } */

    nav {
      height:100%;
    }

    .menu-box {
        width:auto;
        height:auto;
        position:relative;

        padding:0 0;
        margin: 0;
        z-index: 100;
        width:80vw;
        background:#FFF;
        padding:2.5vh;
        border:1px solid rgb(30, 30, 100);
        top:10vw;
        left:10vw;
        position:absolute;
    }
    .js-nav-active .menu-box {
        height:calc(100vh - 20vw);
    }
    a.nav-toggle {
        position: absolute;
        right: 2.5vw;
        z-index:999;
        display: block;
        width: 30px;
        height: 30px;
        /* z-index: 1000; */
        margin: .3% 0 0;
        top: 1.5vw;
        -webkit-transition: right .3s, top .3s;
        transition: right .3s, top .3s;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    a.nav-toggle::after, a.nav-toggle::before {
        left: 5px;
        display: block;
        width: 20px;
        height: 2px;
        border: 0 solid transparent;
        content: ' ';
        -webkit-transition: -webkit-transform .25s;
        transition: transform .25s;
        -webkit-animation: none;
        animation: none;
        background: #999;
    }
    .art a.nav-toggle::after, .art a.nav-toggle::before {
        background:rgb(30, 30, 100);
    }

    a.nav-toggle::before {
        position: absolute;
        top: 12px;
        z-index: 1000;
    }

    a.nav-toggle::after, a.nav-toggle:hover::after {
        position: absolute;
        top: 20px
    }

    a.nav-toggle.active::before {
        top: 15px;
        -webkit-transition: -webkit-transform .25s;
        transition: transform .25s;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    a.nav-toggle.active::after {
        top: 15px;
        -webkit-transition: -webkit-transform .3s, top .3s;
        transition: transform .3s, top .3s;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    a.nav-toggle.active {
        top: 14vw;
        right:14vw;
        -webkit-transition: right .3s, top .3s;
        transition: right .3s, top .3s;
    }

    ul.links {
        overflow: scroll;
        overflow-y: hidden;
        width: 100%;
        padding-top: 1em;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }

    [class *= section-] {
        width: 100%;
        float: none;
        padding: 0
    }

    [class *= cols-] {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }

    nav ul, nav ul.links {
        float: none;
        width: 100%;
        height:calc(100vh - 20vw);
        padding:0;
        /* padding-top:20vh; */
        overflow:scroll;
    }

    ul.hi {
        /* font-size: 1.5em */
    }

    nav ul.links li {
        display: block;
        margin: 2em auto;
        text-align: center;
        /* float: right;
        position:relative;
        right:0;

        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        -o-transform: rotate(-40deg); */
    }

    nav ul.links li:first-of-type {
      margin-top:25vh;
    }

    nav ul.links li a {
        display: inline-block;
        /*width: 100%;*/
        /*padding: .2em 0;*/
        /* font-size: 2em; */
        border: 2px solid transparent
    }

    .project, .project[class *=item-] {
        width: calc(100% - 4px)
    }

    .project.item-1, ul.hi {
        margin-top: 0
    }

    .main-info p, nav {
        width: 100%;
    }

    /* .art .projects .grid-item, .art .projects .grid-sizer {
        width:100%;
    } */
    .js-nav-active body {
        overflow:hidden;
    }
}

@media screen and (max-height:500px) and (max-width:40em) {
    nav ul.links:after{
        content:' ';
        height:5em;
        display:block;
        float:left;
    }
}

@-webkit-keyframes floatyInPlace {
    0%, 3% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    25% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    27% {
        left: 50%
    }

    65% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    68% {
        left: -40%
    }

    to {
        bottom: 0;
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
}

@keyframes floatyInPlace {
    0%, 3% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    25% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    27% {
        left: 50%
    }

    65% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    68% {
        left: -40%
    }

    to {
        bottom: 0;
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
}
